DATABASE_URL="file:./dev.db"
NODE_ENV="development"
APP_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM="onboarding@example.com"
RESEND_PASSWORD_RESET_TEMPLATE_ID=""
RESEND_EMAIL_VERIFICATION_TEMPLATE_ID=""
